.container{
 width: 75%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: auto;

}
.amigo{
 width: 100%;
 height: 15vh;
 border: 4px solid rgb(77, 72, 72);
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 margin-top: 20px;
}
.avatar{
 height: 70px;
 width: 70px;
 border-radius: 50%;
 }
 .link{
  text-decoration: none;
 }